.detail {
  flex: 1;

  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #dddddd35;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 30px;
          height: 30px;
          padding: 10px;
          background-color: rgba(17, 25, 40, 0.1);
          border-radius: 50%;
          cursor: pointer;
          object-fit: contain;
        }
      }
    }

    button{
        padding: 6px;
        background-color: rgba(230, 74, 105, 0.53);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: rgba(220, 20, 60, 0.796);
        }

        &.logout{
          padding: 6px;
          background-color: #5193be;
        }
    }
  }
}
